
html, body {
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
}

/*login wrapper*/
.login-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(23, 55, 60, 1);
    z-index: 0;
}

.bg-color {
    background: rgba(7, 13, 27, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.login-wrap {
    width: 100%;
    min-height: 360px;
    margin-top: 90px;
    overflow: hidden;
    background: transparent;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
}

.signup-wrap {
    margin-top: 20px;
}

.login-txt.form-control {
    background-color: rgba(255, 255, 255, 1);
    background-image: none;
    border: 0px solid #B6D122;
    border-radius: 4px;
    height: 45px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #000000;
}

.login-btn.btn-default {
    color: #fff;
    background-color: rgb(99, 25, 119);
    border: 0px solid #b3d447;
    height: 40px;
    outline: none !important;
}

.font-text-gray {
    color: #a7a7a7;
}

.login-header {
    margin-bottom: 25px;
}

.login-header > h2 {
    color: #ffffff;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.login-sm-text {
    margin-top: 25px;
    text-align: center;
    color: #0c5a8a;
    cursor: pointer;
}

.text-with-line:before {
    background: #631977;
    background: -moz-linear-gradient(right, #631977 0%, #631977 100%);
    background: -webkit-linear-gradient(right, #631977 0%, #631977 100%);
    background: -o-linear-gradient(right, #631977 0%, #631977 100%);
    background: -ms-linear-gradient(right, #631977 0%, #631977 100%);
    background: linear-gradient(right, #631977 0%, #631977 100%);
    left: 0;
}

.text-with-line:after {
    background: #631977;
    background: -moz-linear-gradient(left, #631977 0%, #631977 100%);
    background: -webkit-linear-gradient(left, #631977 0%, #631977 100%);
    background: -o-linear-gradient(left, #631977 0%, #631977 100%);
    background: -ms-linear-gradient(left, #631977 0%, #631977 100%);
    background: linear-gradient(left, #631977 0%, #631977 100%);
    right: 0;
}

.text-with-line:before,
.text-with-line:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 86%;
    width: 43%;
}

.text-with-line {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.signup-line {
    margin-top: 30px;
}

.signup-line:before {
    background: #631977;
    background: -moz-linear-gradient(right, #631977 0%, #631977 100%);
    background: -webkit-linear-gradient(right, #631977 0%, #631977 100%);
    background: -o-linear-gradient(right, #631977 0%, #631977 100%);
    background: -ms-linear-gradient(right, #631977 0%, #631977 100%);
    background: linear-gradient(right, #631977 0%, #631977 100%);
    left: 0;
}

.signup-line:after {
    background: #631977;
    background: -moz-linear-gradient(left, #631977 0%, #631977 100%);
    background: -webkit-linear-gradient(left, #631977 0%, #631977 100%);
    background: -o-linear-gradient(left, #631977 0%, #631977 100%);
    background: -ms-linear-gradient(left, #631977 0%, #631977 100%);
    background: linear-gradient(left, #631977 0%, #631977 100%);
    right: 0;
}

.signup-line:before,
.signup-line:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 88%;
    width: 43%;
}

/*dashboard */
.navbar-brand {
    padding: 15px 15px;
}

.navbar-default {
    background-color: #504E58;
    border-color: transparent;
    border-radius: 0;
}

.dashboard-btn-wrap {
    width: 100%;
    height: 490px;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.bg-color1 {
    background: #6D8389;
}

.bg-color2 {
    background: #2BB468;
}

.bg-color3 {
    background: #278489;
}

.dashboard-btn-wrap > .header {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.dashboard-btn-wrap > .header > h3 {
    color: #ffffff;
    text-transform: uppercase;
}

.dashboard-btn-wrap > .dashboard-btn-wrap {

}

.btn-img-wrapper {
    position: absolute;
    bottom: 13px;
    left: 2px;
}

/*.btn-img-wrapper > img {*/
/*width: 110px;*/
/*}*/
.navbar-default .navbar-brand {
    color: #1392b5 !important;
}

h3 {
    font-weight: 600;
}

.dashboard-btn-body {
    position: absolute;
    right: 0;
    bottom: 60px;
}

.dashboard-btn-body > .btn-wrap {
    position: relative;
    text-align: left;
    padding: 10px 15px 10px 16px;
    margin-bottom: 5px;
    border-radius: 5px 0px 0px 5px;
    color: #fff;
}

.btn-wrap.yellow {
    background: #f6dd80;
}

.btn-wrap.blue {
    background: #278489;
}

.btn-wrap.green {
    background: #2bb468;
}

.full-with-model {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.78);
    z-index: 2000;
}

.model {
    height: 600px;
    position: relative;
    background: #ffffff;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.model > .header {
    width: 100%;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #2bb468;
    border-radius: 4px 4px 0px 0px;
    padding: 15px 5px 5px 5px;
}

.model > .header > div > h4 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #2bb468;
}

.model-btn {
    list-style: none;
    float: right;
    margin-top: 10px;
}

.model-btn > li {
    display: inline-block;
    padding-right: 10px;
}

.btn-close {
    background: #2bb468;
    color: #fff;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save {
    background: #278489;
    color: #fff;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.model-background {
    position: absolute;
    right: -12px;
    top: 200px;
    z-index: -1;
}

.model > .body {
    padding: 29px 10px 10px 10px;
    width: 100%;
    height: 100%;
    background: rgba(249, 247, 247, 0.61);
    z-index: 200;
}

label {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.form-text {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    -webkit-transition: border-color ease-in-out 0s, -webkit-box-shadow ease-in-out 0s;
    -o-transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;
    transition: border-color ease-in-out 0s, box-shadow ease-in-out 0s;
}

.form-control:focus {
    border-color: #278489;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}

.student-result {
    width: 100%;
    height: 70px;
    background: #278489;
    padding: 2px 10px 10px 10px;
}

.student-result > h5 {
    text-align: center;
    color: #fff;
    font-weight: 300;
}

.student-result > div {
    text-align: left;
    color: #fff;
    font-weight: 300;
}

.note-found-wrap {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #2bb468;
    padding-top: 50px;
}

.tbl-header {
    font-size: 18px;
    font-weight: 600;
    color: #278489;
}

.adver-wrapper {
    width: 100%;
    min-height: 60px;
    padding: 10px;
    height: auto;
    overflow: hidden;
    background-color: #2bb468;
    margin-bottom: 11px;
}

.adver-body {
    color: #ffffff;
}

.parent-main-wrapper {
    margin-top: 15px;
}

.adv-main-wrapper {
    /*min-height: 520px;*/
    /*max-height: 520px;*/
    /*overflow: hidden;*/
    /*overflow-y: auto;*/
}

.adv-main-wrapper-h5 {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-bottom: 6px;
    padding-bottom: 9px;
    border-bottom: 1px solid #2bb468;
}


.adv-main-wrapper-h5-2 {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-bottom: 6px;
    padding-bottom: 9px;
    border-bottom: 1px solid #2bb468;
}
.parent-wrapper {

}

.parent-body {
    font-weight: 600;
    text-transform: capitalize;
    padding-top: 10px;
    font-size: 18px;
}

.parent-body2 {
    font-weight: 300;
    padding-top: 5px;
    font-size: 15px;
}

.student-view-wrapper {
    width: 100%;
    height: 170px;
    background: #278489;
    padding: 10px;
    margin-top: 15px;
    color: #ccc;
}
