<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="navbar-brand" >STUDENT CARE </span>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Hi Admin</a></li>

        </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">


    <div ui-view>

    </div>

</div>